.reg_container {
   width:60%;
   margin:auto;
   background: rgba(150,150,150,0.6);
   box-shadow: 1px 1px 5px black;
}
.reg_container #reg_form {
   text-align: center;
}
#back {
   padding:5px;
   margin:5px;
   font-size:0.8em;
   width:80px;
}
.reg_container #reg_form input {
   padding:5px;
   margin:5px;
   font-size: 0.8em;
   width:100px;
}
.reg_container #reg_form input[type=submit]:hover, button:hover {
   background: #999;
}
.reg_container #reg_form input[disabled]:hover {
   cursor:not-allowed;
}
.reg_container #reg_form input:hover, button:hover {
   box-shadow: 1px black;
}
.reg_container #reg_form input:not([type=submit]) {
   width:200px;
}
#emph {
   color: red;
}
a, a:visited {
   color: red;
}
.reg_container a {
   padding:10px;
}
label:not([id="invalid_"]) {
   display:none;
   color:red;
}
