html {
   text-align:center;
}
body {
   background: url("/img/background_nightsky2048.jpg") no-repeat;
   background-size: cover;
   margin:auto;
   width:100%;
}
table {
   padding:20px;
   width:50%;
   border-collapse: collapse;
   background: white;
   font-size: 16px;
}
input, button {
   border: 1px solid black;
}
input[type=submit], button {
   color:white;
   background: rgba(0,0,0,0.8);;
}
table, th, td {
   border: 1px solid black;
}
#binfo {
   padding: 20px;
}
#binfo table {
   width:100%;
}
body > button {
   padding: 5px;
   border-radius: 1px;
   background: #fff;
}
button:hover {
   background: #aaa;
}
#content {
   position:absolute;
   width:70%;
   background:rgba(0,0,0,0.5);
   top:100px;
   left:0;
   bottom:10%;
   right:0;
   margin:auto;
   text-align: center;
   padding-top:30px;
   padding-bottom:30px;
   border:2px solid #222;
   -webkit-box-shadow: 5px 5px 10px black;
   -ms-box-shadow: 5px 5px 10px black;
   -os-box-shadow: 5px 5px 10px black;
   -o-box-shadow: 5px 5px 10px black;
   box-shadow: 5px 5px 10px black;
}
#content p {
   padding: 10px;
   padding-left:30px;
   padding-right:30px;
   font-style:italic;
   font-size: 1.2em;
}
