.login_container {
   width:100%;
   float:left;
   text-align: left;
}
.login_container #login_form {
   text-align: left;
}
.login_container #login_form input, #reg {
   padding:5px;
   margin:5px;
   border: 1px solid black;
   font-size: 0.8em;
   width:100px;
}
.login_container #login_form input:hover[type=submit], #reg:hover {
   background: #999;
}
.login_container #login_form input:hover, #reg:hover {
   box-shadow: 1px 1px 5px black;
}
.login_container #login_form input:not([type=submit]) {
   width:200px;
}
#emph {
   color: red;
}
a, a:visited {
   color: red;
}
.login_container a {
   padding:10px;
}
